################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/samples/Hangfire.Sample/obj
/samples/Hangfire.Sample.Library/obj
/src/Be.Auto.Hangfire.Dashboard.RecurringJobManager/obj
/src/Be.Auto.Hangfire.Dashboard.RecurringJobManager/bin/Debug
/samples/Hangfire.Sample/bin/Debug/net8.0
/samples/Hangfire.Sample.Library/bin/Debug/netstandard2.0
/samples/Hangfire.Sample/bin/Release/net8.0
/samples/Hangfire.Sample.Library/bin/Release/netstandard2.0
/src/Be.Auto.Hangfire.Dashboard.RecurringJobManager/bin/Release
*.user
.idea