<link rel="stylesheet" type="text/css" href="../job-manager/css/jobExtension" />


<script src="../job-manager/js/vue"></script>
<script src="../job-manager/js/axio"></script>



<div id="app" class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <h1 id="page-title" class="page-header">Stopped Jobs</h1>

        <div v-if="getItems.length === 0" class="alert alert-info">
            No stopped jobs found
        </div>
        <div v-else class="js-jobs-list">

            <div class="btn-toolbar btn-toolbar-top">

                <div class="btn-group paginator pull-right hidden-xs" v-if="getPageCount > 1">
                    <a href="javascript:" :class="{ disabled:  pagination.currentPage === 1 }" @click="clickCallbackPagination(pagination.currentPage - 1)" class="btn btn-default btn-sm ">
                        Prev
                    </a>
                    <a href="javascript:" :class="{ disabled:  pagination.currentPage === getPageCount }" @click="clickCallbackPagination(pagination.currentPage + 1)" class="btn btn-default btn-sm ">
                        Next
                    </a>
                </div>


                <div class="btn-group pull-right paginator">
                    <a v-for="(count, index) in paginationOptions"
                       :key="index"
                       :class="['btn btn-sm btn-default', { active: pagination.parPage === count}]"
                       href="javascript:"
                       @click="updatePagination(count)">
                        {{ count }}
                    </a>

                </div>
                <div class="btn-toolbar-spacer pull-right hidden-xs"></div>
                <div class="btn-toolbar-label btn-toolbar-label-sm pull-right hidden-xs">
                    Items per page:
                </div>
            </div>


            <div class="table-responsive">
                <table id="joblist" class="table">

                    <thead>
                        <tr>


                            <th>Id</th>
                            <th>Job Type</th>
                            <th>Misfire Handling Mode</th>
                            <th>Cron</th>
                            <th>Type / Host Name</th>
                            <th>Method / Path</th>
                            <th>Time Zone</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="js-jobs-list-row" v-for="job in getItems" :key="job.Id">


                            <td class="word-break ">{{ job.Id }}</td>
                            <td class="word-break ">{{ job.JobType }}</td>
                            <td class="word-break ">{{ job.MisfireHandlingMode }}</td>
                            <td class="min-width min-width-125p ">
                                <code class="cron-badge">
                                    {{ job.Cron }}
                                </code>

                            </td>

                            <td class="word-break ">{{ job.JobType === 'WebRequest' ? job.HostName : job.Type }}</td>
                            <td class="word-break ">{{ job.JobType === 'WebRequest' ? job.UrlPath : job.Method }}</td>
                            <td class="word-break ">{{ job.TimeZoneId }}</td>

                        </tr>

                    </tbody>
                </table>

            </div>

            <div class="btn-toolbar">

                <div class="btn-group paginator" v-if="getPageCount > 1">
                    <a href="javascript:"
                       class="btn btn-default"
                       :class="{ disabled: pagination.currentPage === 1 }"
                       @click="clickCallbackPagination(pagination.currentPage - 1)">
                        Prev
                    </a>
                    <a v-for="page in getPageCount"
                       :key="page"
                       href="javascript:"
                       class="btn btn-default"
                       :class="{ active:  pagination.currentPage === page }"
                       @click="clickCallbackPagination(page)">
                        {{ page }}
                    </a>
                    <a href="javascript:"
                       class="btn btn-default"
                       :class="{ disabled:  pagination.currentPage === getPageCount }"
                       @click="clickCallbackPagination(pagination.currentPage + 1)">
                        Next
                    </a>

                </div>
                <div class="btn-toolbar-spacer"></div>
                <div class="btn-toolbar-label">
                    Total items: {{jobs.length}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const { ref, computed, createApp } = Vue;

    const appJob = createApp({
        data() {
            return {
                jobs: null,
                pagination: {
                    parPage: 10,
                    currentPage: 1
                },
                paginationOptions : [10, 20, 50, 100, 500, 1000, 5000]
            }
        },
        methods: {
            GetJobs() {
                axios.get('get-job-stopped')
                    .then(res => (this.jobs = res.data));
            },
            clickCallbackPagination(pageNum) {
                this.pagination.currentPage = Number(pageNum);
            },
            updatePagination (count){
                this.pagination.parPage = count;
                this.pagination.currentPage = 1;
            }
        },
        computed: {
            getItems() {
                if (this.jobs) {
                    let start = (this.pagination.currentPage - 1) * this.pagination.parPage;
                    let end = start + this.pagination.parPage;
                    return this.jobs.slice(start, end);
                }
                return [];
            },
            getPageCount() {
                return Math.ceil(this.jobs ? this.jobs.length / this.pagination.parPage : 0);
            }
        },
        created() {
            this.GetJobs();
        }
    });

    appJob.mount('#app');
</script>
